extend layout
block body
  header
    .content
      h1 Recent posts
    
  section.posts
    .content
      each post in posts
        article.post
          header.post-title
            h2
              a(href=post.url)= post.title
            time(datetime=post.published_on.toISOString())= moment(post.published_on).format('llll')
          
          .excerpt !{post.excerpt(50)}
          
          a.pure-button.pure-button-primary(href=post.url) Read more
      
      nav.pages
        if posts.prevPage
          a.pure-button.pure-button-primary(href=posts.prevPage) Previous
        
        if posts.nextPage
          a.pure-button.pure-button-primary(href=posts.nextPage) Next
